@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');

* {
    font-size: 18px;
    font-family: 'Inconsolata', monospace;
}

body {
    background: linear-gradient(90deg, #30475E, #F05454);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 250x;
    text-align: center;
    border: 10px solid #1B1A17;
    background: #1B1A17;
    border-radius: 3px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
}

input[type="text"] {
    height: 75px;
    width: 249px;
    background-color: #1B1A17;
    color: #fff;
    text-align: right;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
}

#clear {
    grid-column: 1/3;
    grid-row: 1;
    color: #1d1d1d;
}

#result {
    grid-column: 3/5;
    grid-row: 5;
}

#backspace {
    color: #1d1d1d;
}

button {
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background: rgb(230, 213, 184, 1);
    font-weight: 600;
}

button:hover {
    background: rgb(230, 213, 184, .8);
}

input:focus, input:active, button:focus, button:active {
    outline: none
}

.highlight {
    background: rgb(240, 165, 0, 1);
}

.highlight:hover {
    background: rgb(240, 165, 0, .8);
}